<template>
  <l-control class="load-more-button__control" position="topleft">
    <v-btn
      :disabled="debounceDisabled || disabled"
      rounded
      depressed
      color="primary"
      :large="$vuetify.breakpoint.smAndUp"
      :small="$vuetify.breakpoint.xs"
      @click="handleButtonClick"
    >
      Load More
    </v-btn>
  </l-control>
</template>

<script lang="ts">
import Vue from 'vue'
import { LControl } from 'vue2-leaflet'
// @ts-ignore
import debounce from 'lodash.debounce'

/**
 * Button which is disabled for 500 ms after clicking, in order
 * to not overload the backend and cause rate limiting.
 */
export default Vue.extend({
  components: {
    LControl,
  },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      debounceDisabled: false,
    }
  },
  methods: {
    handleButtonClick() {
      this.debounceDisabled = true
      this.$emit('click')
      this.debounce()
    },
    debounce: debounce(function () {
      // @ts-ignore
      this.debounceDisabled = false
    }, 500),
  },
})
</script>

<style scoped>
.load-more-button__control {
  padding: 24px;
}

@media screen and (max-width: 800px) {
  .load-more-button__control {
    padding: 8px;
  }
}
</style>
