<template>
  <v-menu left>
    <template #activator="{ on, attrs }">
      <v-app-bar-nav-icon v-bind="attrs" v-on="on" />
    </template>
    <v-list>
      <v-list-item nuxt to="/">
        <v-list-item-title>Map</v-list-item-title>
      </v-list-item>
      <v-list-item nuxt to="/about">
        <v-list-item-title>About</v-list-item-title>
      </v-list-item>
      <v-list-item nuxt to="/report">
        <v-list-item-title>Place a pin</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
