<template>
  <l-control class="legend">
    <v-chip
      v-for="label in legendLabels"
      :key="label.value"
      :color="
        selected.length === 0 || selected.includes(label.value)
          ? label.color
          : '#7a7a7a'
      "
      :dark="
        label.value !== 'unknown' ||
        (selected.length > 0 && !selected.includes(label.value))
      "
      @click="handleChipClick(label.value)"
    >
      {{ label.text }}
    </v-chip>
  </l-control>
</template>

<script lang="ts">
import Vue from 'vue'
import { LControl } from 'vue2-leaflet'

import { OWNER_OPTIONS } from '../constants'
import { VacantSpace, VACANT_SPACE_OWNER } from '~/types'

interface OwnerFilterChipsData {
  selected: VACANT_SPACE_OWNER[]
}

interface OwnerFilterChipsProps {
  spaces: VacantSpace[]
  value: VACANT_SPACE_OWNER[]
}

export default Vue.extend<
  OwnerFilterChipsData,
  unknown,
  unknown,
  OwnerFilterChipsProps
>({
  components: {
    LControl,
  },
  props: {
    spaces: {
      type: Array,
      required: false,
      default: () => [],
    },
    value: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  data() {
    return {
      selected: this.value ?? [],
    }
  },
  computed: {
    legendLabels() {
      const labels = OWNER_OPTIONS.filter((option) =>
        this.spaces.some((space) => space.owner === option.value)
      )
      return labels
    },
  },
  watch: {
    selected() {
      this.$emit('input', this.selected)
    },
  },
  methods: {
    handleChipClick(owner: VACANT_SPACE_OWNER) {
      if (this.selected.includes(owner)) {
        this.selected = this.selected.filter(
          (ownerInList) => owner !== ownerInList
        )
      } else {
        this.selected = [...this.selected, owner]
      }

      // If all items are in selected
      if (this.selected.length === Object.values(OWNER_OPTIONS).length) {
        // Set selected back to empty
        this.selected = []
      }
    },
  },
})
</script>

<style scoped>
.legend {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.legend > * + * {
  margin-top: 8px;
}

.v-chip {
  width: max-content;
  border: 3px solid #333 !important;
}

@media screen and (max-width: 800px) {
  .legend {
    padding: 8px;
  }
}
</style>
