<template>
  <v-app dark>
    <v-app-bar
      v-if="$nuxt.$route.name !== 'index'"
      color="white"
      flat
      fixed
      app
    >
      <nuxt-link v-if="$nuxt.$route.name !== 'index'" to="/" class="logo-text">
        <img src="/logo.png" class="logo" />
      </nuxt-link>

      <v-spacer />
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
  </v-app>
</template>

<style scoped>
.logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo {
  margin-right: 10px;

  height: 48px;
  width: 48px;
}
</style>
