<template>
  <v-container>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="8" lg="6">
        <v-container>
          <p class="text-h5 center-text orange-text">
            We believe housing is a human right. This map was created to serve a
            dual purpose: a memory aid, and a space for proposal.
          </p>

          <p class="text-body-1">
            Critical times call for critical imagination.
            <a
              target="_blank"
              href="https://www.policyalternatives.ca/publications/reports/keys-housing-secure-future-all-nova-scotians"
            >
              The Housing For All plan</a
            >
            talks about how to create “30,000 units of permanently affordable
            housing, enough for all those in core housing need and who are
            homeless” in Nova Scotia. The plan was written by many front-line
            workers and advocates and requires a capital investment of $531
            million each year for 10 years plus about $161 million a year for
            operating spending. Such a commitment means every person can afford
            to
            <a target="_blank" href="https://www.halifaxmutualaid.com/#mission"
              >think creatively</a
            >
            and
            <a target="_blank" href="https://halifaxmutualaid.causevox.com/"
              >get involved</a
            >
            in facing the crisis.
          </p>

          <p class="text-body-1">
            "This should be housing." is made independently by coders and
            journalists in collaboration with
            <a href="https://www.halifaxmutualaid.com" target="_blank"
              >Halifax Mutual Aid</a
            >
            and the
            <a target="_blank" href="https://antievictionmap.com"
              >Anti Eviction Mapping Project</a
            >.
          </p>
          <p class="text-center attribution-text mt-8 mb-0">
            To report an error or request a feature, email
            <a href="mailto:housingmap@riseup.net">housingmap (at) riseup.net</a
            >. The code for this map is open source, you can see it
            <a target="_blank" href="https://gitlab.com/djbusstop/vacancy-map"
              >on Gitlab</a
            >.
          </p>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.orange-text {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  color: #f36a3d;
}

.attribution-text {
  opacity: 0.7;
}
</style>
