<template>
  <div class="grid">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Logo -->
      <v-row>
        <v-col class="d-flex justify-center">
          <img src="/logo.png" class="logo mb-6" alt="Logo for This Should Be Housing." />
        </v-col>
      </v-row>

      <!-- Text -->
      <p class="text-h5 center-text orange-text">
        We are making a collaborative public database of property vacancies.
      </p>

      <p class="text-body-1">
        For two generations, there has been very little public, social, or
        co-operative affordable housing built in Nova Scotia outside the market.
      </p>

      <p class="text-h6 text-center orange-text">That's where you come in.</p>

      <!-- Report Button -->
      <v-row>
        <v-col class="d-flex justify-center">
          <v-btn
            rounded
            depressed
            color="primary"
            x-large
            nuxt
            dark
            to="/report"
          >
            <v-icon class="ml-1 mr-2">mdi-map-marker-plus</v-icon>

            Place a pin</v-btn
          >
        </v-col>
      </v-row>

      <p class="text-body-1 text-center mt-5">
        <nuxt-link to="/about">Learn more about this website</nuxt-link>
      </p>
    </div>

    <!-- Map -->
    <l-map
      ref="locationMap"
      class="map"
      :center="[44.6648221, -63.5684403]"
      :zoom="13"
      :options="{ zoomControl: false }"
      :maxBounds="[
      	[-90, -180],
	[90,180]
		]"
    >
      <l-tile-layer
        :url="'https://{s}.basemaps.cartocdn.com/rastertiles/light_all/{z}/{x}/{y}.png'"
      />
      <owner-filter-chips v-model="selectedOwners" :spaces="spaces" />
      <load-more-button :disabled="reachedLastRecord" @click="loadMore" />
      <l-circle-marker
        v-for="space in spacesToDisplay"
        :key="space.id * Math.random()"
        :lat-lng="[space.latitude, space.longitude]"
        :fill-color="
          ownerOptionsConfig[space.owner] &&
          ownerOptionsConfig[space.owner].color
        "
        :fill-opacity="1"
        color="#333"
        :radius="10"
      >
        <l-popup>
          <b>Status</b>: {{ space.status.toUpperCase() }}
          <br />
          <b>Owner</b>: {{ space.owner.toUpperCase() }}
          <div v-if="space.address"><b>Address</b>: {{ space.address }}</div>
          <p v-if="space.moreInfo">
            <b>Additional Information</b>:
            {{ space.moreInfo }}
          </p>
        </l-popup>
      </l-circle-marker>
      <l-control-zoom position="bottomright" />
    </l-map>
  </div>
</template>

<script lang="ts">
/* eslint-disable no-console */

import Vue from 'vue'
import {
  LMap,
  LTileLayer,
  LPopup,
  LCircleMarker,
  LControlZoom,
} from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

import { ownerOptionsConfig } from '../constants'
import getVacantSpaces from '~/api/getVacantSpaces'
import OwnerFilterChips from '~/components/OwnerFilterChips.vue'
import { VacantSpace, VACANT_SPACE_OWNER } from '~/types'
import extractFields from '~/api/extractFields'

interface IndexData {
  spaces: VacantSpace[]
  spacesToDisplay: VacantSpace[]
  selectedOwners: VACANT_SPACE_OWNER[]
  offset: string | undefined
  reachedLastRecord: boolean
}

interface IndexMethods {
  loadMore: () => Promise<void>
  filterSpacesByOwner: (
    spaces: VacantSpace[],
    owners: VACANT_SPACE_OWNER[]
  ) => VacantSpace[]
}
export default Vue.extend<IndexData, IndexMethods, unknown, unknown>({
  name: 'Index',

  components: {
    LMap,
    LTileLayer,
    LPopup,
    LCircleMarker,
    LControlZoom,
    OwnerFilterChips,
  },

  data() {
    return {
      spaces: [],
      spacesToDisplay: [],
      selectedOwners: [],
      ownerOptionsConfig,
      // Pagination
      offset: undefined,
      reachedLastRecord: false,
    }
  },

  watch: {
    selectedOwners(owners: VACANT_SPACE_OWNER[]) {
      this.spacesToDisplay = this.filterSpacesByOwner(this.spaces, owners)
    },
    spaces(newSpaces: VacantSpace[]) {
      this.spacesToDisplay = this.filterSpacesByOwner(
        newSpaces,
        this.selectedOwners
      )
    },
  },

  async mounted() {
    const vacantSpacesRes = await getVacantSpaces()
    if (vacantSpacesRes.records) {
      const vacantSpaces = extractFields(vacantSpacesRes.records)
      this.spaces = vacantSpaces
    }
    if (vacantSpacesRes.offset) {
      this.offset = vacantSpacesRes.offset
    } else {
      this.reachedLastRecord = true
    }
  },

  methods: {
    async loadMore() {
      const vacantSpacesRes = await getVacantSpaces(this.offset)
      if (vacantSpacesRes.records) {
        const newVacantSpaces = extractFields(vacantSpacesRes.records)
        this.spaces = [...this.spaces, ...newVacantSpaces]
      }
      // If there's an offset, set it as the latest offset
      if (vacantSpacesRes.offset) {
        this.offset = vacantSpacesRes.offset
      } else {
        this.reachedLastRecord = true
      }
    },
    filterSpacesByOwner(
      spaces: VacantSpace[],
      owners: VACANT_SPACE_OWNER[]
    ): VacantSpace[] {
      if (owners.length === 0) return spaces
      else return spaces.filter((space) => owners.includes(space.owner))
    },
  },
})
</script>

<style scoped>
.grid {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  padding: 32px;
  overflow-y: auto;
}

.logo {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.center-text {
  text-align: center;
}

.orange-text {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  color: #f36a3d;
}

.map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    height: auto;
  }

  .sidebar {
    padding-bottom: 16px;
  }

  .logo {
    max-width: 200px;
  }

  .map {
    height: 85vh;
  }
}
</style>
